ul.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  ul.nav-links li {
    margin-right: 1rem;
  }
  
  ul.nav-links li a {
    text-decoration: none;
    color: gray;
    
  }
  
  ul.nav-links li a:hover {
    color: #555;
  }
  